/* Description: Primary Stylesheet for About The Weather : A Weather Dashboard */


/* Navbar */
.jumbotron-fluid {
  padding:30px;
  background-color: rgb(1, 43, 63);
  color: #fff;
  border-bottom: rgb(199, 63, 10) solid 2px;
}

.container-fluid {
  width: 1400px;
}

.pb-3 {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Search column */
.form-control {
  border: rgb(185, 184, 184) solid 1px;
  padding-top: 1px;
}

.btn-outline-primary {
  margin-top: 15px;
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}


.btn:hover {
  opacity: 1;
  background-color: rgb(199, 63, 10);
}

#searchHistory li {
  margin-top: 5px;
  text-align: center;
  color: #ffff;
  background-color:rgb(60, 109, 139);
  height: auto;
  cursor: pointer;
}

#searchHistory li:hover {
  opacity: 1;
  background-color: rgb(6, 75, 117);
}

/* Current weather column */

#weatherContent {
  display: none;
}

ul li {
  color: rgb(8, 8, 8);
}

#cityDetail,
#uvIndexColor,
li {
  color: black;
}

#searchResults {
  padding-top: 1px;
 }


.card {
  background-color: white;
 
}


/* 5-day weather forecast columns */
#fiveDay .card {
  background-color: rgb(6, 75, 117);
  border-radius: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  justify-content: space-between;
  
}