.search-history {
  display: flex;
  flex-direction: column;
}

#clear-history-button {
  background-color: #c23c07;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

#clear-history-button:hover {
  opacity: 1;
}


.title {
  font-size: 30px;
  font-weight: bold;
  color: #02243a;
}
.day {
  background: #02243a;
  color: white;
  list-style: none;
  padding: 10px 20px;
  border-radius: 5%;
}

.five-day-forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.five-day-forecast-header {
  padding: 20px 10px;
  font-size: 2em;
  font-weight: bold;
}

.present-day-weather ul {
  list-style: none;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

header {
  background: #1a2846;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}
/* Tablets - landscape and portrait */
@media screen and (max-width: 1180px) {
  .five-day-forecast {
    flex-direction: column;
  }
  }

/* Small screens */
@media screen and (max-width: 576px) {
  .row.present-day-weather {
    --bs-gutter-x: 0rem;
    margin: 10px 0;
  }
  .present-day-weather ul {
    margin: 10px 0;
  }
}